<aside>
	<div class="panel radius">
		<h3>Info</h3>
		<p>
Via dell'alberata 3 <br>
00046 Grottaferrata RM  <br>
Phone +39 0699341466  <br>
mobile +39 3771723163 <br>
<a href="mailto:chiara@pedani.it">chiara@pedani.it</a><br>

		</p>
	</div>
<a href="mailto:chiara@pedani.it" class="alert button">scrivici -  write us</a>

	<div class="border-dotted radius b30">
		<img src="{{ site.baseurl }}/images/chiara.jpg" alt="{{ site.baseurl }}/images/chiara.jpg">
		<p class="text-left">
			Chiara Mancory photo by <a href="http://www.pedani.it/">Matteo Pedani</a>
		</p>
	</div>
</aside>
